<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="/static/js/geolocate.js"></script>
    </head>
    <body>
        <h1 style="text-align: center;">Welcome to the home!</h1>

        <p style="text-align: center;">Click on the following button to share your location.</p>
        <div style="text-align: center;">
            <button onclick="findGeolocation()">Share Location</button>
        </div>

        <p id="geolocation" style="text-align: center;">Geolocation</p>
        <div style="text-align: center;">
            <button onclick="getGeolocation()">Click to view lat and lon values</button>
        </div>
    </body>
</html>